Send request for pricing data and store response locally.

In [12]:
import requests

response = requests.get("https://www.satochi.co/allBTCPrice")

with open("btc_raw.txt","wb") as file:
    file.write(response.content)

Convert response data into DF

In [20]:
import pandas as pd

with open("btc_raw.txt", "rb") as file:
    btc = pd.read_json(file)
    
btc.columns = ["date","btc"]
btc = btc.set_index("date")

                   btc
date
2010-08-16      0.0655
2010-08-17      0.0700
2010-08-18      0.0680
2010-08-19      0.0667
2010-08-20      0.0655
...                ...
2021-09-12  46043.9567
2021-09-13  44955.3717
2021-09-14  47112.1767
2021-09-15  48139.4850
2021-09-16  47770.4467

[4050 rows x 1 columns]

In [21]:
btc

           date         btc
0    2010-08-16      0.0655
1    2010-08-17      0.0700
2    2010-08-18      0.0680
3    2010-08-19      0.0667
4    2010-08-20      0.0655
...         ...         ...
4045 2021-09-12  46043.9567
4046 2021-09-13  44955.3717
4047 2021-09-14  47112.1767
4048 2021-09-15  48139.4850
4049 2021-09-16  47770.4467

[4050 rows x 2 columns]